@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Yantramanav:wght@500;900&display=swap');

:root {
  --grey: #bfbabe;
  --white: #f1f2f0;
  --blue: #558a86;
  --red: #a63e14;
  --black: #333;

  --sansFont: 'Yantramanav', sans-serif;
  --cursiveFont: 'Rammetto One', cursive;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-family: var(--sansFont);
}
body a {
  color: var(--blue);
}

.siteName {
  font-family: var(--cursiveFont);
}
