:root {
  --grey: #bfbabe;
  --white: #f1f2f0;
  --blue: #558a86;
  --red: #a63e14;
}

body {
  background-color: var(--grey);
  color: var(--red);
}
body a {
  color: var(--blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
