@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Yantramanav:wght@500;900&display=swap');

:root {
  --grey: #bfbabe;
  --white: #f1f2f0;
  --blue: #558a86;
  --red: #a63e14;
  --black: #333;
  --middleGrey: #555;

  --sansFont: 'Yantramanav', sans-serif;
  --cursiveFont: 'Rammetto One', cursive;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-family: var(--sansFont);
}
a {
  color: var(--blue);
}
input {
  background: var(--white);
}
body button {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--sansFont);
  border: 2px solid var(--blue);
}

.lighterText {
  color: var(--middleGrey);
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--middleGrey);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 0.5%;
  margin: 1%;
  border: 1px solid var(--black);
  border-radius: 5%;

  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card h5 {
  color: var(--red);
}

.siteName {
  font-family: var(--cursiveFont);
  color: var(--red);
}
